###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*            text=auto

###############################################################################
# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.pdf binary
