# Exclude files
global-exclude .DS_Store *.pyc *.pyo *.pyd *.swp *.bak *~ .* *.sh *.yml
prune */__pycache__
# include specific files
include pymake/utils/usgsprograms.txt
recursive-include example *.py *.bat
