[project]
name = "pymake"
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "linux-aarch64", "osx-arm64", "osx-64"]
version = "1.2.10.dev0"

[dependencies]
appdirs = "*"
codespell = "*"
coverage = "*"
filelock = "*"
flaky = "*"
flopy = "*"
hatchling = ">=1.27.0,<2"
matplotlib = "*"
meson = "*"
modflow-devtools = "*"
networkx = "*"
ninja = "*"
numpy = "*"
pip = "*"
pydotplus = "*"
pytest = "!=8.1.0"
pytest-benchmark = "*"
pytest-cov = "*"
pytest-dotenv = "*"
pytest-order = "*"
pytest-xdist = "*"
python = "3.10.*"
requests = "*"
ruff = "*"

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."

# format
check-lint = "ruff check ."
check-format = "ruff format . --check"
check-spelling = "codespell"
fix-style = "ruff check . --fix; ruff format ."


# build
test = "meson test --verbose --no-rebuild -C"

# test
download-examples = {cmd = "python ci_setup.py", cwd = "autotest"}
autotest = { cmd = "pytest -v -n auto --dist=loadgroup -m='base or regression' --durations 0 --cov=pymake --cov-report=xml --keep-failed .failed", cwd = "autotest" }
autotest-base = { cmd = "pytest -v -n auto --dist=loadgroup -m='base' --durations 0 --cov=pymake --cov-report=xml --keep-failed .failed", cwd = "autotest" }
autotest-request = { cmd = "pytest -v -n=auto -m='requests' --durations=0 --cov=pymake --cov-report=xml --keep-failed .failed", cwd = "autotest" }
autotest-schedule = { cmd = "pytest -v -m='schedule' --durations=0 --cov=pymake --cov-report=xml --keep-failed .failed", cwd = "autotest" }

# coverage report
coverage-report = { cmd = "coverage report", cwd = "autotest"}

# release 
update-version = { cmd = "python scripts/update_version.py -v"}
create-codejson = { cmd = "make-code-json" }
