name: pymake continuous integration

on:
  schedule:
    - cron: '0 3 * * 3' # run at 3 AM UTC every Wednesday
  push:
    branches: [ master ]
  pull_request:
    branches:
      - master
jobs:

  pymakeCI-os-intel:
    name: pymake CI intel on different OSs
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2019]
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Intel OneAPI Compilers
        uses: modflowpy/install-intelfortran-action@v1

      - name: Setup Graphviz
        if: runner.os == 'Linux'
        uses: ts-graphviz/setup-graphviz@v1

      - name: Set up Python
        uses: actions/setup-python@v4.3.0
        with:
          python-version: "3.10"

      - name: Install python packages
        run: |
          .github/common/install-python.sh

      - name: Download examples for pytest runs
        working-directory: ./autotest
        run: |
          pytest -v -n=auto -m="base or regression" --durations=0 ci_setup.py

      - name: test on Linux
        if: runner.os == 'Linux'
        working-directory: ./autotest
        run: |
          pytest -v -n=auto -m="base or regression" --durations=0 --cov=pymake --cov-report=xml

      - name: test on MacOS
        if: runner.os == 'macOS'
        working-directory: ./autotest
        run: |
          pytest -v -n=auto -m="base" --durations=0 --cov=pymake --cov-report=xml

      - name: test on Windows
        if: runner.os == 'Windows'
        working-directory: ./autotest
        shell: cmd
        run: |
          pytest -v -m="base" --durations=0 --cov=pymake --cov-report=xml

      - name: Print coverage report before upload
        working-directory: ./autotest
        run: |
          coverage report

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.1
        with:
          file: ./autotest/coverage.xml
